<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to nginx!</title>
        <meta charset=utf-8>
        <style>
                body {
                    width: 35em;
                    margin: 0 auto;
                    font-family: Tahoma, Verdana, Arial, sans-serif;
                    }
        </style>
    </head>
    <body>
    <p><em>Дипломная работа</em></p>
    <h1>SYS-24</h1>
    <h2>Никита Зверев</h2>

    <h3>Сервер: {{ ansible_hostname }} <br>ip: {{ ansible_default_ipv4.address }} </p></h3>

    </body>
</html>